.nav {
  width: 100vw;
  background-color: rgb(255, 255, 255);
  /* border: 1px solid red; */
  box-shadow: 0 0 25px rgb(94, 94, 94);
  padding: 0px 0;
  /* margin-bottom: 20px; */
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: fixed;
  top: 0;
  z-index: 110;
}
.nav > p {
  font-size: 25px;
  letter-spacing: 9px;
}
.nav > p,
h1 {
  margin: auto;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.add {
  border-radius: 10px;
  /* border: 1px solid red; */
  box-shadow: 0 0 20px rgb(206, 206, 206);
  width: 1500px;
  height: 750px;
  position: absolute;
  top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.btn {
  z-index: 2;
  width: 400px;
  height: 60px;
  font-size: 25px;
  letter-spacing: 10px;
  align-self: flex-end;
  /* bottom: 10px; */
}
.add > h1 {
  letter-spacing: 5px;
  align-self: center;
  margin: 5px 0;
}
.form {
  padding: 40px;
  width: 100%;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.form > label {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
input,
textarea {
  border-radius: 5px;
  resize: none;
}
select {
  width: 400px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  padding: 5px;
}
.title {
  height: 40px;
}

.price {
  height: 40px;
  width: 200px;
  font-size: 20px;
  padding: 5px;
}
