.nav {
  width: 100vw;
  background-color: rgb(255, 255, 255);
  /* border: 1px solid red; */
  box-shadow: 0 0 25px rgb(94, 94, 94);
  padding: 0px 0;
  /* margin-bottom: 20px; */
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: fixed;
  top: 0;
  z-index: 110;
}
.nav > p {
  font-size: 25px;
  letter-spacing: 9px;
}
.nav > p,
h1 {
  margin: auto;
}
.nav > button > img {
  width: 35px;
  height: 35px;
  filter: invert(100%);
}
.btnAdd {
  letter-spacing: 2px;
  font-size: 20px;
  position: absolute;
  top: 15px;
  right: 45px;
  width: 204px;
  height: 50px;
}
.btnBasket {
  position: absolute;
  position: fixed;
  top: 15px;
  left: 25px;
  width: 204px;
  height: 50px;
  /* z-index: 10000; */
}
.btnOwnProducts {
  letter-spacing: 2px;
  font-size: 20px;
  position: absolute;
  top: 15px;
  right: 285px;
  width: 204px;
  height: 50px;
}
.fullstore {
  z-index: 1;
  top: 100px;
  position: absolute;
  width: 1800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 140px;

  /* border: 1px solid rgb(0, 255, 17); */
}
.halfstore {
  position: absolute;
  width: 1720px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  top: 100px;
  left: 305px;
}
/* ДЛЯ ПОИСКА И ФИЛТРА */
.fullfunc {
  width: 1300px;
  position: absolute;
  /* left: 600px; */
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 100px;
  align-items: center;
  left: 80px;
}
.halffunc {
  width: 1300px;
  position: absolute;
  top: 30px;
  /* border: 2px solid red; */
  left: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 100px;
  align-items: center;
}
/* ДЛЯ ПОИСКА */
.search > label {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-right: 10px;
}
.search > input {
  width: 350px;
  height: 40px;
  border: none;
  border-bottom: 2px solid black;
  font-size: 24px;
}
.search > input:focus {
  outline: none;
  font-size: 24px;
}
.search > button > img {
  width: 40px;
  height: 40px;
}
/* ДЛЯ ФИЛЬТРА */
.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.filter > label {
  width: 400px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-right: 10px;
}
.filter > select {
  font-size: 19px;
}
.filter > select > option {
  font-size: 19px;
}
