/* ВЕРХНЯЯ ПАНЕЛЬ  */
.nav {
  width: 100vw;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 25px rgb(94, 94, 94);
  padding: 0px 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  position: fixed;
  top: 0;
  z-index: 110;
}
.nav > p {
  font-size: 25px;
  letter-spacing: 9px;
}
.nav > p,
h1 {
  margin: auto;
}
.nav > button > img {
  width: 35px;
  height: 35px;
  filter: invert(100%);
}
.btnHome {
  letter-spacing: 2px;
  font-size: 23px;
  font-weight: 400;
  position: absolute;
  position: fixed;
  top: 15px;
  left: 275px;
  width: 204px;
  height: 50px;
}
.nav > button > img {
  width: 35px;
  height: 35px;
  filter: invert(100%);
}
.btnBasket {
  position: absolute;
  position: fixed;
  top: 15px;
  left: 25px;
  width: 204px;
  height: 50px;
}
/* ОСНОВА  */
.fullwrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.halfwrapper {
  position: absolute;
  width: 1520px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  left: 405px;
}
.halfwrapper > h1 {
  margin: 110px 70px 10px 70px;
  text-align: center;
}
.halfwrapper > p {
  text-align: center;
  font-size: 25px;
  letter-spacing: 7px;
  color: rgb(127, 127, 127);
}
.halfwrapper .productContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  padding: 0 70px;
  margin-top: 50px;
  width: 1600px;
}
.halfwrapper .productInfo {
  width: 900px;
}
.halfwrapper .productInfo > p {
  font-size: 25px;
  color: rgb(84, 84, 84);
}
.fullwrapper > h1 {
  margin: 110px 70px 10px 70px;
  text-align: center;
}
.fullwrapper > p {
  text-align: center;
  font-size: 25px;
  letter-spacing: 7px;
  color: rgb(127, 127, 127);
}
.fullwrapper .productContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 200px;
  padding: 0 70px;
  margin-top: 50px;
}

.productContainer > img {
  width: 600px;
  height: 650px;
}
.fullwrapper .productInfo {
  width: 1200px;
}
.price {
  font-size: 40px;
  letter-spacing: 3px;
  margin-bottom: 30px;
}
.priceAndBtn {
  display: flex;
  flex-direction: row;
  gap: 100px;
}
.btnToBasket {
  width: 255px;
  height: 50px;
  letter-spacing: 2px;
  font-size: 23px;
  font-weight: 400;
}
.productInfo > h5 {
  font-size: 30px;
  color: rgb(84, 84, 84);
}
.productInfo > p > span {
  font-size: 30px;
  font-weight: 500;
  color: rgb(84, 84, 84);
}
.fullwrapper .productInfo > p {
  font-size: 25px;
  color: rgb(84, 84, 84);
}
/* НИЖНЯЯ ЧАСТЬ */
.recommendText {
  font-size: 40px;
  letter-spacing: 10px;
  margin: 30px 0 50px 0;
  text-align: center;
  color: rgb(91, 138, 232);
}
.recommendProduct {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 80px 0 0 0;
}
